.parteuno{ 
     font-size: 1.7rem;
     margin: 5rem 3rem ;
}

.one{
    font-size: 1.5rem;
}

.partedos{
    margin: 15rem 3rem ;
}

.sub-tablas{
    font-size: 1.5rem;
}

.partetres{
    margin: 15rem 3rem ;
}

.partecuatro{
    margin: 15rem 3rem ;
}

.partecinco{
    margin: 15rem 3rem ;
}

.parteseis{
    margin: 15rem 3rem ;
}