header{
    min-width: 100%;
    min-height: 7.5rem;
    margin-bottom: 0rem;
    padding: 2rem 5rem;
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-between;
    
   background-color: #6b6b6d;
   background-image: linear-gradient(62deg, #6b6b6d 0%, #c6bcc7 50%, #f0f0f0 100%);
    
}

.nombre{
    color: var(--color5);
    font-size: var(--letra4);
    padding-bottom: 0.8rem;
}

.nav{
    
    list-style: none;
    min-width: 20rem;
    padding-bottom: 1rem;
    
    display: flex;
    justify-content:flex-end;
}

.nav li{
    color: var(--color5);
}

.uno{
    display: block;
    min-width: 8rem;
    margin: 0.5rem;
    text-align: center;
    
    color: var(--color5);
    font-size: var(--letra3);
    padding: 0.7rem 0.2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    
    text-decoration: none;
    background-color: #6b6b6d;
    background-image: linear-gradient(62deg, #6b6b6d 0%, #c6bcc7 50%, #f0f0f0 100%);

    transition: 0.5s;
}

.uno:hover{
    min-width: 11rem;
    border-radius: 1.5rem;
    transition: 0.5s;
    
    background-image: linear-gradient(180deg, #c8d9ff 0, #9598a0 50%, #615c4a 100%);
}
