.banner_index{
    min-width: 100%;
    min-height: 100rem;
    padding-top: 35rem;
    background-image: url(../img/banner.jpg);
    background-size: cover;
}

.leyenda{
    text-align: center;
    font-size: 3.5rem;
    color: var(--color5);
}

.btn_banner{
    display: block;
    width: 10rem;
    margin: auto;
    
    text-align: center;
    color: var(--color5);
    text-decoration: none;
    font-size: var(--letra3);
    
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    
    background-image: linear-gradient(180deg, #c8d9ff 0, #9598a0 50%, #615c4a 100%);

    
    transition: 0.3s;
    
}

.btn_banner:hover{
    width: 15rem;
    transition: 0.3s;
   
    background-color: #6b6b6d;
    background-image: linear-gradient(62deg, #6b6b6d 0%, #c6bcc7 50%, #f0f0f0 100%);

}